[Unit]
Description=Fan Control for CM4-DUAL-ETH-MINI (%i)

[Service]
Type=simple
ExecStart=/usr/local/bin/cm4-dual-fan-control/cm4-dual-fan-control.py
Restart=no
User=root
Group=root

[Install]
WantedBy=multi-user.target
